*{
margin:0;
padding:0;
}
.main{
    width: 100%;
    height: 100vh;
    font-family:'Poppins', sans-serif;
    background: linear-gradient;
}
.navbar{
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px;
    align-items: center;
    justify-content: space-between;


}
.logo{
    width: 160px;
    margin-top: 60px;
    cursor: pointer;
   
}
ul{
    margin-top: 10px;
}
ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;

}
ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration:none;
    color: darkslategray;
    transition: 0.3s;
}
ul li a:hover{
    
    color:blueviolet;

}
.home{
    width: 86%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}

.info{
    animation: fadeIn 1.2s ease-in-out;
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform: translateY(20px);
    }
    to{
        opacity:1;
        transform: translateY(0);
    }
}
.social{
    width: 30%;
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
    border-color:black;
}

.social a{
    display: block;
    margin: 15px 0;
    padding: 10px;
    background: #2563eb;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    border-color: black;
    transition: 0.3s;
}

.social a:hover{
    background: #7c3aed;
    transform: translateY(-3px);
}



.info h1{
    font-size: 70px;
    font-weight: 700;
    background: linear-gradient(90deg, #2563eb, #7c3aed);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
 .info span { color: orange; } 
 .icon span{ display:inline; margin-left: 7%; } 
 
